---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Jordan Teasdale">
	<main>
    <Nav />
    <h1><span class="text-gradient">Jordan Teasdale</span></h1>
    <div>
    <div class="text-center">
    </div>
    <h2 class="mb-3">About</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis sem a nibh ultrices,
    vel rhoncus lectus interdum. Ut semper, tortor id malesuada mattis, leo quam aliquet lorem,
    in condimentum felis purus non lectus. Suspendisse placerat mi velit, vel vehicula neque vestibulum vel.
    Ut vehicula turpis in lectus sodales, at hendrerit libero viverra.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis sem a nibh ultrices,
    vel rhoncus lectus interdum. Ut semper, tortor id malesuada mattis, leo quam aliquet lorem,
    in condimentum felis purus non lectus. Suspendisse placerat mi velit, vel vehicula neque vestibulum vel.
    Ut vehicula turpis in lectus sodales, at hendrerit libero viverra.
    </p>
    <div class="text-center">
    </div>
    <h2 class="mb-3">Skills</h2>
    <div class="link-images text-center mb-5">
    <img width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-line.svg"/>
    <img width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-line.svg"/>
    <img width="46" height="46" alt="UnrealEngine" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unrealengine/unrealengine-original.svg"/>
    <img width="46" height="46" alt="Unity" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg"/>
    <img width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/>
    <img width="46" height="46" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
    <img width="46" height="46" alt="TortoiseGit" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tortoisegit/tortoisegit-original.svg"/>
    <img width="46" height="46" alt="GitLab" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg"/>
    <img width="46" height="46" alt="CMake" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cmake/cmake-original.svg"/>
    </div>
    </div>
    <Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
        color: #fdebf3;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
