---
---
<div class="nav-links">
    <a href="/">About</a>
    <a href="/works/">Works</a>
</div>

<style>
/* Basic styling for the navbar */
nav {
  height: 50px;
}

/* Style the links in the nav-links container */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links a {
  color: #fdebf3;
  text-decoration: none;
  margin: 0 15px;
}

.nav-links a:hover, a:focus {
  text-decoration: underline;
  text-decoration-color: #4c1d95;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
}
</style>
